@using diplomOriginal.Modules;
@{
    ViewData["Title"] = "Товары";
}

<div class="py-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Товары</h1>
</div>

<div class="container-xl">
    <div class="row hidden-md-up">
        @{
            Item[]? items = ItemsRepository.GetAllItems().Result;
        }
        @if (items is not null)
        {
            @foreach(var item in items)
            {
                <div class="col-md-4">
                    <div class="shadow border rounded-3 card mb-4 mx-auto">
                        <div class="card-body">
                            <h5 class="card-title">@(item.Name)</h5> <!-- Here be like (using foreach) (item.title) -->
                            <h6 class="card-subtitle mb-2 text-muted">@(item.PartNumber)</h6> <!-- item.partNumber -->
                            <h6 class="card-subtitle mb-2 text-muted">
                                @{

                                }
                            </h6> <!-- item.price -->
                            <p class="card-text">@(item.Description)</p> <!-- item.description -->
                            @if (LoginManager.IsUserIn(Context))
                            {
                                <a href="#" class="card-link">Добавить в корзину</a>
                            }
                            else
                            {
                                <p class="card-text">Для покупки свяжитесь с нами: <strong>+79817511074</strong></p>
                            }
                        </div>
                    </div>
                </div>
            }
        } else
        {
            <div class="col-md-4">
                <div class="shadow border rounded-3 card mb-4 mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">Товаров не найдено</h5>
                        <p class="card-text">Возможно произошла какая-то ошибка, попробуйте обновить страницу</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
