@{
	ViewData["Title"] = "Контакты";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">Контакты</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-2 mt-5">Шарафутдинов Артем Русланович, ИСТ-911</p>
        <p class="lead mb-2">Россия, гор. Санкт-Петербург, ул. Большевиков д. 22</p>
        <p class="lead mb-5">Телефон для связи: +79817511074</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/contacts" class="btn btn-outline-secondary btn-lg px-4">Написать мне</a>
        </div>
    </div>
</div>